.contact-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  /* border: 1px solid blue; */
  padding: 0 10px;
  /* background-color: ${({currentGroupId}) => (currentGroupId ? "rgb(224, 219, 219, 0.5)" : "#fff")}; */
}

.contact-container:hover {
  background-color: rgb(224, 219, 219, 0.5);
  /* opacity: 0.5; */
}

.group {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 5px;
  justify-content: center;
  border-bottom: 1px solid rgb(224, 219, 219);
  cursor: pointer;
  /* border: 1px solid blue; */
}

.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group > h6 {
  margin: 0;
}

.group-header > h5 {
  margin: 0;
}

.message-date {
  font-size: 12px;
}

.contact-circle {
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: grey;
  /* border: 1px solid red; */
}
