.header-section {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 59px;
  justify-content: space-between;
  /* background-color: rgb(228, 222, 222); */
  background-color: rgb(240, 230, 230);


  /* background-color: var(--panel-header-background); */
  padding: 10px 16px;
}

.header-right-section {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

.person-icon {
  color: grey;
}

.status {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: rgb(90, 87, 87);
}
